/* Header Gradient */

.about-header {
  height: 170px;
  background: linear-gradient(90deg, #2563eb, #9333ea);
}

.about-heading{
  font-size: 36px;
  line-height: 1.2;
}

.about-section {
  background: #f5f6f8;
}

.about-img {
  position: relative;
  margin-left: 90px;
}

.about-img img {
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

/* purple background design */

.about-img::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #5b5cf6, #9333ea);
  border-radius: 20px;
  z-index: 1;
}

/* Vision Mission Section */

.vision-section{
  background:#f5f6f8;
}

.vision-card{
  background:#e9ecf3;
  padding:40px;
  border-radius:20px;
  height:100%;
}

.vision-card p{
  color:#5a5a5a;
  font-size:16px;
  margin-top:10px;
}

.icon-box{
  width:55px;
  height:55px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:15px;
  color:white;
  font-size:22px;
  margin-left:2px;
}

.vision-icon{
  background:linear-gradient(135deg,#2563eb,#9333ea);
}

.mission-icon{
  background:linear-gradient(135deg,#9333ea,#ec4899);
}

/* Programs Section */

.programs-section{
  background:#f5f6f8;
}

/* Card */

.program-card{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
  height:100%;
}

/* Badge */

.program-badge{
  padding:6px 14px;
  font-size:14px;
  border-radius:20px;
  color:white;
}

/* Badge Colors */

.badge-blue{
  background:linear-gradient(90deg,#2563eb,#0ea5e9);
}

.badge-purple{
  background:linear-gradient(90deg,#9333ea,#ec4899);
}

.badge-orange{
  background:linear-gradient(90deg,#f97316,#ef4444);
}

.badge-green{
  background:linear-gradient(90deg,#10b981,#059669);
}

/* Faculty Section */

.faculty-section{
  background:#f5f6f8;
}

/* Card */

.faculty-card{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
  gap:20px;
}

/* Icon */

.faculty-icon{
  width:90px;
  height:55px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  color:white;
  font-size:22px;
}

/* Icon Colors */

.educator-icon{
  background:linear-gradient(135deg,#2563eb,#9333ea);
}

.expert-icon{
  background:linear-gradient(135deg,#9333ea,#ec4899);
}