.nav-item{
    font-size: larger;
}


.nav-hover{
    color: black !important;
    transition: color 0.3s ease;
}

.nav-hover:hover{
    color: #2563eb !important; /* better blue */
}

.login-btn1{
  display: inline-block;
  border: 2px solid #2563eb;
  color: #2563eb;
  padding: 10px 26px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  background: white;
  transition: all 0.3s ease;
}

/* hover effect */
.login-btn1:hover{
  background: #f1f5f9;
  color: #2563eb;
}

.register-btn {
    border: none;
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    border-radius: 13px;
    padding: 8px 22px;
    font-weight: 500;
    color: white;
    border: none;
    text-decoration: none;
}

.register-btn:hover {
  box-shadow: 0px 4px 12px rgba(66, 66, 183, 0.6);
}